* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v21_208 {
    width: 100%;
    height: 1300px;
    background: rgba(218, 218, 218, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v21_244 {
    width: 100%;
    height: 182px;
    background: url("../images/v21_244.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v21_245 {
    width: 100%;
    height: 60px;
    background: url("../images/v21_245.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 121px;
    left: 0px;
    overflow: hidden;
}

.v21_246 {
    width: 100%;
    height: 60px;
    background: rgba(182, 222, 207, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v21_247 {
    width: 187px;
    height: 35px;
    background: url("../images/v21_247.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 148px;
    overflow: hidden;
}

.v21_248 {
    width: 187px;
    height: 35px;
    background: rgba(24, 169, 153, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.v21_249 {
    width: 134px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0px;
    left: 27px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v21_250 {
    width: 187px;
    height: 35px;
    background: url("../images/v21_250.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 589px;
    overflow: hidden;
}

.v21_251 {
    width: 187px;
    height: 35px;
    background: rgba(24, 169, 153, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.v21_252 {
    width: 133px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 4px;
    left: 27px;
    font-family: Fira Sans;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v21_253 {
    width: 187px;
    height: 35px;
    background: url("../images/v21_253.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 1020px;
    overflow: hidden;
}

.v21_254 {
    width: 187px;
    height: 35px;
    background: rgba(24, 169, 153, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.v21_255 {
    width: 138px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 3px;
    left: 25px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v21_256 {
    width: 100%;
    height: 121px;
    background: url("../images/v21_256.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v21_257 {
    width: 100%;
    height: 121px;
    background: url("../images/v21_257.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v21_258 {
    width: 100%;
    height: 121px;
    background: rgba(24, 169, 153, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v21_259 {
    width: 106px;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 45px;
    left: 53px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: left;
}

.v21_260 {
    width: 247px;
    height: 53px;
    background: url("../images/v21_260.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 1020px;
    overflow: hidden;
}

.v21_261 {
    width: 247px;
    height: 53px;
    background: rgba(255, 161, 10, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.v21_262 {
    width: 223px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 13px;
    left: 11px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v21_263 {
    width: 681px;
    height: 50px;
    background: url("../images/v21_263.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 230px;
    overflow: hidden;
}

.v21_264 {
    width: 681px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.v21_265 {
    width: 27px;
    height: 30px;
    background: url("../images/v21_265.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 647px;
    overflow: hidden;
}

.v21_266 {
    width: 409px;
    color: rgba(183, 176, 176, 1);
    position: absolute;
    top: 13px;
    left: 24px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v26_4 {
    width: 191px;
    height: 43px;
    background: url("../images/v26_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 193px;
    left: 101px;
    overflow: hidden;
}

.v21_268 {
    width: 91px;
    color: rgba(134, 129, 129, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v21_270 {
    width: 17px;
    color: rgba(134, 129, 129, 1);
    position: absolute;
    top: 0px;
    left: 86px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v21_269 {
    width: 91px;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 0px;
    left: 100px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v21_212 {
    width: 100%;
    height: 1000px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 237px;
    left: 101px;
}

.v21_213 {
    width: 265px;
    height: 369px;
    background: url("../images/v21_213.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 248px;
    left: 131px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.v26_6 {
    width: 755px;
    height: 106px;
    background: url("../images/v26_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 385px;
    left: 459px;
    overflow: hidden;
}

.v21_281 {
    width: 755px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 72px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v21_215 {
    width: 200px;
    color: rgba(24, 169, 153, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v26_5 {
    width: 755px;
    height: 118px;
    background: url("../images/v26_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 281px;
    left: 459px;
    overflow: hidden;
}

.v21_214 {
    width: 755px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.v21_271 {
    width: 179px;
    color: rgba(134, 129, 129, 1);
    position: absolute;
    top: 34px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v21_279 {
    width: 236px;
    color: rgba(134, 129, 129, 1);
    position: absolute;
    top: 34px;
    left: 186px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v21_280 {
    width: 13px;
    color: rgba(134, 129, 129, 1);
    position: absolute;
    top: 34px;
    left: 171px;
    font-family: Fira Sans;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v26_3 {
    width: 322px;
    height: 28px;
    background: url("../images/v26_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 348px;
    left: 459px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v21_278 {
    width: 179px;
    color: rgba(134, 129, 129, 1);
    position: absolute;
    top: 4px;
    left: 143px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v26_10 {
    width: 748px;
    height: 48px;
    background: url("../images/v26_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 528px;
    left: 459px;
    overflow: hidden;
}

.v21_282 {
    width: 157px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(134, 129, 129, 1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.v21_283 {
    width: 39px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 5px;
    left: 60px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 27px;
    opacity: 1;
    text-align: center;
}

.v21_284 {
    width: 39px;
    color: rgba(24, 169, 153, 1);
    position: absolute;
    top: 5px;
    left: 104px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.v21_285 {
    width: 39px;
    color: rgba(24, 169, 153, 1);
    position: absolute;
    top: 5px;
    left: 15px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.v26_7 {
    width: 569px;
    height: 48px;
    background: rgba(255, 161, 10, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 179px;
}

.v26_9 {
    width: 254px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 9px;
    left: 336px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
}

.v26_47 {
    width: 100%;
    height: 74px;
    background: url("../images/v26_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 732px;
    left: 175px;
    overflow: hidden;
}

.v26_15 {
    width: 384px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 23px;
    opacity: 1;
    text-align: left;
}

.v26_16 {
    width: 100%;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 37px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: left;
}

.v26_49 {
    width: 100%;
    height: 298px;
    background: url("../images/v26_49.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 880px;
    left: 167px;
    overflow: hidden;
}

.v26_46 {
    width: 100%;
    height: 298px;
    background: rgba(246, 246, 246, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.v26_45 {
    width: 247px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 240px;
    left: 32px;
    font-family: Fira Sans;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v26_18 {
    width: 157px;
    height: 28px;
    background: url("../images/v26_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 67px;
    left: 32px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v26_17 {
    width: 384px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 14px;
    left: 32px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 23px;
    opacity: 1;
    text-align: left;
}

.v26_26 {
    width: 52px;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 95px;
    left: 85px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: left;
}

.v26_27 {
    width: 792px;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 76px;
    left: 226px;
    font-family: Fira Sans;
    font-weight: Italic;
    font-size: 21px;
    opacity: 1;
    text-align: left;
}

.v26_30 {
    width: 157px;
    height: 28px;
    background: url("../images/v26_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 148px;
    left: 32px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v26_37 {
    width: 52px;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 176px;
    left: 85px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: left;
}

.v26_38 {
    width: 792px;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 157px;
    left: 226px;
    font-family: Fira Sans;
    font-weight: Italic;
    font-size: 21px;
    opacity: 1;
    text-align: left;
}

.v26_50 {
    width: 100%;
    height: 74px;
    background: url("../images/v26_50.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 617px;
    left: 175px;
    overflow: hidden;
}

.v26_13 {
    width: 384px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 23px;
    opacity: 1;
    text-align: left;
}

.v26_14 {
    width: 100%;
    color: rgba(72, 67, 73, 1);
    position: absolute;
    top: 37px;
    left: 0px;
    font-family: Fira Sans;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: left;
}